<!DOCTYPE html>
<html>
<head>
  <title>Barrie Web Designer / Front-end Web Developer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <script>
	 new WOW().init();
	</script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=devide-width, initial-scale=1.0">
</head>
<body>
<%= render 'layouts/header' %>


<%= yield %>


<%= render 'layouts/footer' %>

<script type="text/javascript">
  skrollr.init({
    forceHeight: false
  });
</script>
</body>
</html>
